body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  margin-right: 20px;
  min-width:600px
}

.controls-table {
  flex: 1;
}

.controls-table table {
  width: 200px;
  border-collapse: collapse;
}

.controls-table caption {
  font-weight: bold;
}

.controls-table th, .controls-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.controls-table th {
  background-color: #f2f2f2;
}


.google-form {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.google-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.google-form iframe {
  margin-right: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 600px;
}
